@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #f7f7f7; */
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 20px; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  border: 0;
  padding: 10px 25px;
  border-radius: 18px;
  font-weight: bold;
  /* background-color: #171717; */
  /* color: white; */
}
.button-white {
  background-color: white;
  color: #171717;
}
.button-secondary {
  background-color: #f69800;
  color: #fff;
}
